
/* #count-container{
  border: saddlebrown solid;
  width: 400px;
  height: 400px;
  margin-left: 35%;
  margin-top: 5%;
  text-align: center;
  color: white;
  background: rgb(245, 80, 231);
} */
/* button{
  width: 20%;
  padding: 2%;
} */
.card{
  width: 450px;
  height: 400px;
  text-align: center;
  margin-left: 15%;
}
h1{
  color: rgb(158, 89, 190);
}
button:hover{
  background:rgba(114, 5, 109, 0.527)
}
span{
  position: absolute;
  margin-top: 10%;
  font-size: 60pt;
  color: rgb(158, 89, 190);
  transform: translate(-70px);
}





/* Old
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
